[Desktop Entry]
Name=Windows Media Player
Exec=env WINEPREFIX="/home/chansol/.wine" wine-stable C:\\\\windows\\\\command\\\\start.exe /Unix /home/chansol/.wine/dosdevices/c:/users/chansol/Start\\ Menu/Programs/Windows\\ Media\\ Player.lnk
Type=Application
StartupNotify=true
Comment=Plays your digital media including music, videos, CDs, and Internet Radio.
Icon=EE61_wmplayer.0
StartupWMClass=wmplayer.exe
