[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=audio/mid;
Exec=env WINEPREFIX="/home/chansol/.wine" wine-stable start /ProgIDOpen midfile %f
NoDisplay=true
StartupNotify=true
Icon=1C27_wmplayer.0
