[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=audio/x-aiff;
Exec=env WINEPREFIX="/home/chansol/.wine" wine-stable start /ProgIDOpen AIFFFile %f
NoDisplay=true
StartupNotify=true
Icon=1C27_wmplayer.0
