[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=application/x-wine-extension-cda;
Exec=env WINEPREFIX="/home/chansol/.wine" wine-stable start /ProgIDOpen CDAFile %f
NoDisplay=true
StartupNotify=true
Icon=1C27_wmplayer.0
