[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=video/mpeg;
Exec=env WINEPREFIX="/home/chansol/.wine" wine-stable start /ProgIDOpen mpegfile %f
NoDisplay=true
StartupNotify=true
Icon=1C27_wmplayer.0
