[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=application/vnd.ms-wpl;
Exec=env WINEPREFIX="/home/chansol/.wine" wine-stable start /ProgIDOpen WPLFile %f
NoDisplay=true
StartupNotify=true
Icon=1C27_wmplayer.0
